@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap'); 

html{
  box-sizing: border-box;
}
body{
  margin: 0;
  min-height: 100vh;
  background-image: linear-gradient( 135deg, #81FFEF 10%, #F067B4 100%);
  color: black;
  font-family: tangerine;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quote-container{
  width: auto;
  max-width: 900px;
  padding: 20px 30px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.15);
  box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.15);
}

.quote-text{
  font-size: 2rem;
}

.long-quote {
  font-size: 2rem;
}

.fa-quote-left {
  font-size: 4rem;
}

.quote-author{
  margin-top: 15px;
  font-size: 2rem;
  font-weight: 400;
  font-style: italic;
}

button{
  cursor: pointer;
  font-size: 1rem;
  height: 2.5rem;
  border: none ;
  border-radius: 10px;
  color: #fff;
  background: #333;
  outline: none;
  padding: 0.5rem 1.8rem;
  box-shadow: 0 0.3rem rgba(121, 121, 121, 0.65);
}

button:hover {
  filter: brightness(150%);
}

button:active {
  transform:  translate(0, 0.3rem);
  box-shadow: 0 0.1rem rgba(255, 255, 255, 0.65);
}

.twitter-button:hover {
  color:  #38a1f3;
  font-size:  1.5rem;
}

.new-quote:hover {
 color: #38a1f3;
}

.button-container{
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}
